@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

.fontKhusus {
    font-family: 'Dongle', sans-serif;
}

.bgProject {
    background-color: #F2F2F2;
}

.judul {
    color: #2A2727;
}

.teksKet {
    color: #57504D;
}

.gelap {
    background-color: #181716;
}

.hampirGelap {
    background-color: #2A2727;
}

.abu {
    background-color: #453F3D;
}

.btnCv {
    background-color: #57504D;
}